h1, h2, h3, h4, h5, h6{
    font-weight: 500;
}
h1{
    line-height: 3rem;
    font-size: 2.5rem;
    @media (max-width: $media_mobile){
        font-size: 1.5rem;
        line-height: 1.75rem;
        
    }
}
h2{
    line-height: 3rem;
    font-size: 2rem;
    @media (max-width: $media_mobile){
        color: #000;
        width: 100%;
        font-size: 1.2rem;
     }
}
h3{
    font-size: 1.375rem;
    line-height: 2rem;
}
h4, span{
    @media (max-width: $media_mobile){
        font-size: .9rem;
        line-height: 1.2rem;
    }
}
p{
    font-size: 1.25rem;
    line-height: 2rem;
    margin: 1rem 0;
    @media (max-width: $media_mobile){
        font-size: 1rem;
        line-height: 1.75rem;
    }
}
a{
    text-decoration: underline;
   
    transition: color 250ms ease-in-out;
    &:hover{
        color: $primary_yellow;
        text-decoration: underline;
    }
    @media (max-width: $media_tablet){
        color: $secondary_red;
        line-height: 1.75rem;
        font-size: 1.25rem;
    }
    @media (max-width: $media_mobile){
        
         font-size: 1rem;
     }
}

a.button{
    background-color:$primary_yellow;
    border-radius: 4px;
    padding: .5rem 1.5rem; 
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    transition: background-color 250ms ease-in-out;
    &:hover{
        text-decoration: none;
        color: $primary_yellow;
        background-color: #000;
    }
    @media (max-width: 895px) {
        font-size: .85rem;
    }
    @media (max-width: $media_tablet){
        color: #000;
        width: 70%;
        font-size: 1rem;
     }
}
a.button-lg{
    width: 60%;
    background-color:$primary_yellow;
    border-radius: 4px;
    padding: 1rem 1.5rem; 
    font-weight: 500;
    transition: background-color 250ms ease-in-out;
    text-align: center;
    text-decoration: none;
    &:hover{
        text-decoration: none;
        color: $primary_yellow;
        background-color: #000;
    }
    @media (max-width: $media_tablet){
        color: #000;
        width: 100%;
        font-size: 1rem;
        margin-top: 1rem;
     }
}
